.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  padding: 0;
}

.row-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permitir el ajuste automático de las columnas */
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.footer {
  height: 40px;
  margin-top: auto;
  text-align: center;
}

.voice-recorder {
  text-align: center;
  margin-top: 20px;
}

.mic-icon {
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  color: #007bff; /* Bootstrap primary color */
}

.mic-icon:hover {
  color: #0056b3; /* Darker shade for hover effect */
}

.recording-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin-top: 10px;
}

.record-icon {
  margin-right: 5px;
  color: red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

ul, ol {
  list-style: none;
}


.chat-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chat-messages {
  display: flex;
  flex-direction: row;
}

.chat-messages.user-is-sender {
  justify-content: flex-end;
}

.ia-message-container {
  display: flex;
  align-items: start; /* opcional, alinea los elementos al inicio verticalmente */
}


.user-message {
  background-color: #ffc4c4;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: right;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 95%; /* limita el ancho al 95% */
  align-self: flex-end; /* alinea a la derecha */
}

.response-message {
  background-color: lightgray;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 95%; /* limita el ancho al 95% */
  align-self: flex-start; /* alinea a la izquierda */
}

.response-message2 {
  background-color: lightgray;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 95%; /* limita el ancho al 95% */
  align-self: flex-start; /* alinea a la izquierda */
}


.response-form {
  border: 1px solid #E0E0E0 !important;
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 95%; /* limita el ancho al 95% */
  align-self: flex-start; /* alinea a la izquierda */
}

.input-container {
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.btn-chat {
  margin-left: 10px;
}

input[type="text"],
.btn-chat {
  width: 100%;
  padding: 0.7rem;
  box-sizing: border-box;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.suggestion-items{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: wrap;
  gap: 100% 8px;
  padding-left: 2px;
  overflow-y: hidden;
}

.suggestion-item{
  display: block;
  min-height: 34px;
  margin-top: 0.4em;
}

.gradient-green {
  background-image: linear-gradient(60deg, #000, #0b8793) !important;
}

.bottonsactionsDefault{
  position: absolute; 
  right: 15px;
  bottom: 0px;
  float: right !important;
  margin-bottom: 0.75rem !important;
}

.bottonsactionsSm{
  position: relative; bottom: 0px;
  float: left !important;
  margin-left: 2.25rem !important;
}

.fileover {
  border: 2px solid #33648a73 !important;
  background: #33648a0e;
}

.container-custom {
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
  min-height: 300px;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  h3 {
    font-size: 20px;
    color: #38424c;
  }
}

@media ( max-width: 991px ){
  .logo-img {
    width: 150px !important;
  }
}

@media ( max-width: 767px ){
  .logo-img {
    width: 100px !important;
  }

  .col-md-4{
    margin-bottom: 1rem;
  }
    
  
}
@media ( max-width: 449px ){
  .container-custom {
  
    h3 {
      font-size: 12px;
    }
  } 
}