export const environment = {
    production: false,
    api: undefined,  //Server URL: 'http://<direction>:<port>'
    firebase: {
        apiKey: undefined,
        authDomain: undefined,
        projectId: undefined,
        storageBucket: undefined,
        messagingSenderId: undefined,
        appId: undefined,
        measurementId: undefined
    }
};
