<div *ngIf="!loadedDocs">
    <div class="mt-4 mx-auto center-elements" style="max-width: 40rem !important;">
        <em class="fa fa-spinner fa-spin fa-3x fa-fw primary"></em>
    </div>
</div>
<div *ngIf="loadedDocs">
    <div *ngIf="step==1" class="mt-2 mx-auto" style="max-width: 40rem !important;">
        
        <div>
            <h5 class="text-muted mt-3">{{'home.s1.2' | translate }}
                <button class="float-right btn btn-primary" (click)="deleteChat()" [attr.title]="isStepInProcess() ? ('generics.Please wait' | translate) : ('home.s1.2.1' | translate)" [disabled]="isStepInProcess()">
                    <em class="fa fa-plus mr-1"></em> {{'home.s1.2.1' | translate }}
                </button></h5>
            <div class="chat-container">
                <div *ngFor="let message of messages; let i = index" class="chat-messages" [ngClass]="{'user-is-sender': message.isUser}">
                    <div *ngIf="!message.isUser" class="ia-message-container mr-2 bg-white border" style="padding: 0.5rem;align-self: flex-start;border-radius: 1rem;">
                        <img src="assets/img/iconchat.webp" />
                    </div>
                    <div class="message-row"  [ngClass]="{'user-message': message.isUser, 'response-message': !message.isUser, 'response-form': !message.isUser}">
                        
                        <ng-container *ngIf="message.task">
                            <span *ngIf="message.task.steps">
                                <small class="noti-text d-block mb-1 mt-2" *ngFor="let step of message.task.steps">
                                <em *ngIf="step.status=='pending'" class="fa fa-clock-o"></em>
                                <em *ngIf="step.status=='inProcess'" class="fa fa-spinner primary fa-spin"></em>
                                <em *ngIf="step.status=='finished'" class="success fas fa-check"></em>
                                <em *ngIf="step.status=='failed'" class="danger fa fa-times"></em>
                                <span class="ml-1" *ngIf="step.name">{{step.name}}</span>
                                <span class="mb-1 d-block" *ngIf="step.data && step.data !== undefined" style="margin-left: 1rem !important"><strong>{{step.data}} {{'messages.m4.3' | translate }}</strong> </span>
                                <span *ngIf="step.status=='finished' && step.name!=translateYouCanAskInChat && step.action !== undefined" class="ml-1" [innerHTML]= "step.action | safe: 'html'" (click)="onMessageClick($event, i)"></span>
                                </small>
                            </span>
                            </ng-container>
                            <ng-container *ngIf="message.file">
                                <span class="d-block">{{'documents.Select document' | translate }}: </span>
                                <input *ngIf="!isMobile" type="file" #fileDropRef id="fileDropRef" multiple
                                    style="display: none;" (change)="onFileChangeStep($event);"
                                accept=".pdf, .docx, .jpg, .png, .jpeg" />-->
                                <input *ngIf="isMobile" type="file" #fileDropRef id="fileDropRef" multiple
                                    style="display: none;" (change)="onFileChangeStep($event);" />
                                <label *ngIf="!dataFile.name"
                                    class="mt-2 btn btn-dark btn-sm"
                                    style="text-transform: none;letter-spacing: 0px;cursor: pointer;"
                                    for="fileDropRef">{{'documents.New document' | translate }}
                                    <span class="d-block">({{'home.s0.2.1' | translate }})</span>
                                </label>
                            </ng-container>
                            <ng-container *ngIf="!message.task && !message.file">
                                <span [innerHTML]= "message.text | safe: 'html'" (click)="onMessageClick($event, i)"></span>
                                <span *ngIf="!message.isUser && i== messages.length-1" class="d-block mt-2">
                                    <span class="float-right" *ngIf="i!=0">
                                        <em class="fa-regular fa-clipboard pointer" (click)="copymsg(message)"></em>
                                    </span>
                                    
                                </span>
                            </ng-container>
                        
                    </div>
                    <div *ngIf="message.isUser" [ngClass]="{'user-message': message.isUser}" class="ml-2 bg-primary white" style="padding: 0.5rem;">
                        <strong>{{'generics.Me' | translate }}</strong>
                    </div>
                </div>
                <span *ngIf="preparingFile">
                    <small class="d-block">{{'generics.Preparing to upload' | translate }}</small>
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw primary"></i>
                </span>
                <div class="chat-messages pt-2"   *ngIf="callingOpenai || actualStatus=='generando sugerencias'" style="border-radius: 1rem;">
                    <span class="response-message font-small-3" style="background-color: white !important;" [innerHTML]="messagesExpectOutPut">
                    </span>
                    <em class="ml-1 fa fa-spinner fa-spin primary fa-fw" style="align-self: center;"></em>
                    <!--<span>{{actualStatus}} </span>-->
                </div>
                <div *ngIf="callingOpenai">
                    <em class="fa fa-spinner fa-spin primary fa-fw"></em>
                </div>
                <span>
                    <div class="d-flex align-items-center input-container mt-3" *ngIf="!callingOpenai">
                        <input type="text" [(ngModel)]="message" 
                               [disabled]="callingOpenai" placeholder="{{'generics.Write a message' | translate }}..." 
                               (keydown.enter)="sendMessage()" class="mt-0 border-0 mr-2 flex-grow-1">
                        <button class="mr-1 btn btn-secondary" style="padding: 0.2rem 0.57rem;" 
                            [disabled]="callingOpenai" (click)="openFileInput(fileDropRef)">
                            <em class="fa fa-paperclip fa-rotate-180 h-4 w-auto" width="1em" height="1em" fill="currentColor"></em>
                        </button>
                        <input type="file" #fileDropRef id="fileDropRef" multiple style="display: none;" (change)="onFileChangeStep($event);"
                        accept=".pdf, .docx, .jpg, .png, .jpeg" />
                        <button class="mr-1 btn btn-primary" style="padding: 0.2rem 0.57rem;" 
                                [disabled]="callingOpenai" (click)="sendMessage()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 256 256" class="h-4 w-auto"><path d="M232,127.89a16,16,0,0,1-8.18,14L55.91,237.9A16.14,16.14,0,0,1,48,240a16,16,0,0,1-15.05-21.34L60.3,138.71A4,4,0,0,1,64.09,136H136a8,8,0,0,0,8-8.53,8.19,8.19,0,0,0-8.26-7.47H64.16a4,4,0,0,1-3.79-2.7l-27.44-80A16,16,0,0,1,55.85,18.07l168,95.89A16,16,0,0,1,232,127.89Z"></path></svg>
                            </button>
                    </div>
                    
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="step==2" class="mx-auto" [ngClass]="isSmallScreen() ? 'mt-0' : 'mt-2'">
        <div class="row col-md-12" *ngIf="accessToken.patientId!=''">
            <button (click)="getPatientSummary(false)"
            class="mr-2 btn btn-dark" [ngClass]="{'mt-2': isSmallScreen()}"
            href="javascript:void(0)" title="{{'home.Patient Summary' | translate }}">
            <em class="icon-user"></em> <span class="ml-2">{{'home.Patient Summary' | translate }}</span>
        </button>
        </div>
        
        <div class="row mt-2">
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="card gradient-purple-love">
                    <div class="card-content">
                        <div class="card-body py-0">
                            <div class="media pb-1">
                                <div class="media-body white text-left">
                                    <span *ngIf="loadedDocs">
                                        <h3 class="font-large-1 white mb-0" *ngIf="docs.length>0">
                                            {{docs.length}}</h3>
                                        <h3 class="font-large-1 white mb-0" *ngIf="docs.length==0">0</h3>
                                    </span>
                                    <span *ngIf="!loadedDocs">
                                        <em class="fa fa-spinner fa-spin fa-fw primary"></em>
                                    </span>
                                    <span>{{'home.s1.1' | translate }}</span>
                                </div>
                                <div class="media-right white text-right">
                                    <em class="icon-docs font-large-1"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="docs.length>0">
                        <hr class="mt-0 mb-0">
                        <div *ngFor="let doc of docs" class="white">
                            <div class="card-header" [ngClass]="{'panelHearder': innerWidth>992}">
                                <span class="text-bold-500 text-left">
                                    <span class="d-inline-block">{{doc.title}}</span>
                                    <span class="dark nav-item pt-1" ngbDropdown display="dynamic"
                                        placement="bottom-right"
                                        style="position: absolute; right: 0px;">
                                        <a class="position-relative colorlink"
                                            style="padding: 0rem 1rem;" id="dropdownSympt{{i}}"
                                            ngbDropdownToggle
                                            title="{{'generics.Options' | translate }}">
                                            <i class="fas fa-ellipsis-v fa-1_5x"></i>
                                        </a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownSympt{{i}}"
                                            class="dropdown">
                                            <a class="dropdown-item py-1" href="javascript:;"
                                                (click)="openResults(doc, contentSummaryDoc)">
                                                <i class="fa-1_5x fa fa-file"></i><span
                                                    class="ml-2">{{'messages.m3.2' | translate
                                                    }}</span>
                                            </a>
                                            <a *ngIf="isDonating && !loadingDoc" class="dropdown-item py-1" href="javascript:;"
                                                (click)="openAnonymizedResults(doc, contentviewDoc, 'anonymized.txt');">
                                                <i class="fa-1_5x fa fa-user-secret"></i><span
                                                    class="ml-2">{{'messages.m5.2' | translate
                                                    }}</span>
                                            </a>
                                            <span *ngIf="isDonating && loadingDoc" class="dropdown-item py-1" >
                                                <em class="fa fa-spinner fa-spin fa-fw primary"></em><span
                                                    class="ml-2">{{'messages.m5.2' | translate
                                                    }}</span>
                                            </span>
                                            <a class="dropdown-item py-1" href="{{accessToken.blobAccountUrl}}{{accessToken.containerName}}/{{doc.url}}{{accessToken.sasToken}}"
                                            target="_blank" download>
                                                <i class="fa-1_5x fa fa-download"></i><span
                                                    class="ml-2">{{'generics.Download' | translate
                                                    }}</span>
                                            </a>
                                            <a class="dropdown-item py-1 danger" href="javascript:;"
                                                (click)="deleteDoc(doc);">
                                                <i class="fa-1_5x ft-trash"></i><span
                                                    class="ml-2">{{'generics.Delete' | translate
                                                    }}</span>
                                            </a>
                                        </div>
                                    </span>
                                </span>
                                <div class="d-block">
                                    <span *ngIf="doc.numTotalEvents>0">
                                        <span *ngIf="doc.numLeftEvents>0">
                                            {{doc.numLeftEvents}} {{'home.of' | translate }} {{doc.numTotalEvents}} {{'home.unchecked events' | translate }}
                                        </span>
                                        <span *ngIf="doc.numLeftEvents==0">
                                            {{doc.numTotalEvents}} {{'home.checked events' | translate }}
                                        </span>
                                        <span></span>
                                    </span>
                                    <span *ngIf="doc.numTotalEvents==0">{{'home.No events have been detected' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div *ngIf="!submitted" class="mt-3">
                        <div class="form form-horizontal" *ngIf="!showTextAreaFlag">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input *ngIf="!isMobile" type="file" #fileDropRef id="fileDropRef" multiple
                                                style="display: none;" (change)="onFileChangeStep($event);"
                                                accept=".pdf, .docx, .jpg, .png, .jpeg" />
                                            <input *ngIf="isMobile" type="file" #fileDropRef id="fileDropRef" multiple
                                                style="display: none;" (change)="onFileChangeStep($event);" />
                                            <label *ngIf="!dataFile.name"
                                                class="ml-3 mb-1 mt-2 btn btn-dark mb-0"
                                                style="text-transform: none;letter-spacing: 0px;cursor: pointer;"
                                                for="fileDropRef">{{'documents.New document' | translate }}
                                                <span class="d-block">({{'home.s0.2.1' | translate }})</span>
                                            </label>
                                            <span *ngIf="preparingFile">
                                                <small class="d-block">{{'generics.Preparing to upload' | translate }}</small>
                                                <i class="fa fa-spinner fa-spin fa-3x fa-fw primary"></i>
                                            </span>
                                            <span class="d-block">{{dataFile.name}} <span *ngIf="dataFile.name"
                                                    (click)="unlinkFile()" class="pointer"><em
                                                        class="fa fa-trash danger"></em></span></span>
                                            <small class="form-text text-muted danger"
                                                *ngIf="submitted && !dataFile.url">{{'generics.required' |
                                                translate }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="submitted" class="mt-3">
                        <h5 class="text-bold-400 mt-4">{{'home.s2.1' | translate }}</h5>
                        <p>{{'home.s0.6' | translate }}</p>
                        <em class="ml-2 fa fa-spinner fa-2x fa-spin fa-fw"></em>
                    </div>
                </div>
                
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="card gradient-ibiza-sunset" routerLink="/events" title="{{'home.s1.5' | translate }}" style="cursor: pointer;">
                    <div class="card-content">
                        <div class="card-body py-0">
                            <div class="media pb-1">
                                <div class="media-body white text-left">
                                    <span *ngIf="loadedAllEvents">
                                        <h3 class="font-large-1 white mb-0" *ngIf="loadedAllEvents">{{allEvents.length}}</h3>
                                        <h3 class="font-large-1 white mb-0" *ngIf="!loadedAllEvents"><em class="fa fa-spinner fa-spin fa-fw primary"></em></h3>
                                    </span>
                                    
                                    <span *ngIf="!loadedAllEvents">
                                        <em class="fa fa-spinner fa-spin fa-fw primary"></em>
                                    </span>
                                    <span>{{'home.s1.5' | translate }}</span>
                                </div>
                                <div class="media-right white text-right">
                                    <em class="ft-database font-large-1"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="allEvents.length>0">
                        <hr class="mt-0 mb-0">
                        <p class="ml-3 mr-3 mt-3">
                            <span *ngFor="let types of allTypesEvents; let i = index" class="white">
                                <span class="">
                                    {{types.type}} ({{types.count}})<span *ngIf="i<allTypesEvents.length-1">, </span>
                                </span>
                                
                            </span>
                        </p>
                        
                        
                    </div>
                    <div class="row col-md-12">
                        <button class="ml-3 mb-3 mt-3 btn btn-dark mb-0" routerLink="/events" title="{{'events.title' | translate }}">{{'events.title' | translate }}</button>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="card gradient-mint">
                    <div class="card-content">
                        <div class="card-body py-0">
                            <div class="media pb-1">
                                <div class="media-body white text-left">
                                    <h3 class="font-large-1 white mb-0">{{'home.donate_data' | translate }}</h3>
                                </div>
                                <div class="media-right white text-right">
                                    <em class="ft-gift font-large-1"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 ml-3 mr-3 mb-0 white">
                        <p>{{'home.donate_explanation' | translate }}</p>
                        <p>{{'home.donate_anonymity' | translate }}</p>
                        <div class="mt-2" *ngIf="!changingDonation">
                            <button *ngIf="!isDonating" class="mb-3 mt-3 btn btn-dark mb-0" (click)="startDonating()">
                                {{'home.start_donating' | translate }}
                            </button>
                            <button *ngIf="isDonating" class="mb-3 mt-3 btn btn-danger mb-0" (click)="stopDonating()">
                                {{'home.stop_donating' | translate }}
                            </button>
                        </div>
                        <div class="mt-3 mb-3" *ngIf="changingDonation">
                            <em class="fa fa-spinner fa-spin fa-2x fa-fw primary"></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div *ngIf="step==3" class="mt-4 mx-auto center-elements" style="max-width: 40rem !important;">

    </div>
</div>
<ng-template #contentSummaryDoc id="contentSummaryDoc" let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header" id="idHeader">
        <div class="content-header text-left">
            <h4 class="mb-0">{{actualDoc.title}}</h4> <small>{{actualDoc.date | date}}</small>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="closeModal();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body content-wrapper p-2" id="idBody">
        <div class="p-1">
            <div>
                <span class="animate-bottom" *ngIf="showButtonScroll" id="buttomScroll">
                    <button type="button" class="btn btn-dark round mb-0" (click)="goToTop()">Go top</button>
                </span>
                <div class="" *ngIf="summaryDoc.DocumentPurpose">
                    <h5>{{'summary.DocumentPurpose' | translate }}</h5>
                    <p>{{summaryDoc.DocumentPurpose}}</p>
                </div>
                <div class="" *ngIf="!summaryDoc.DocumentPurpose">

                </div>
                <div class="" *ngIf="summaryDoc.PatientIntroduction">
                    <h5>{{'summary.PatientIntroduction' | translate }}</h5>
                    <p>{{summaryDoc.PatientIntroduction}}</p>
                </div>
                <div class="" *ngIf="!summaryDoc.PatientIntroduction">

                </div>
                <div class="" *ngIf="summaryDoc.Anomalies">
                    <h5>{{'summary.Anomalies' | translate }}</h5>
                    <ul>
                        <li *ngFor="let item of summaryDoc.Anomalies" [ngClass]="item | firstCharacterDot">
                            {{item}}
                        </li>
                    </ul>

                </div>
                <div class="" *ngIf="!summaryDoc.Anomalies">

                </div>
                <div class="" *ngIf="summaryDoc.KeyInformation">
                    <h5>{{'summary.KeyInformation' | translate }}</h5>
                    <ul>
                        <li *ngFor="let item of summaryDoc.KeyInformation" [ngClass]="item | firstCharacterDot">
                            {{item}}
                        </li>
                    </ul>

                </div>
                <div class="" *ngIf="!summaryDoc.KeyInformation">

                </div>

            </div>
        </div>
    </div>
</ng-template>
<ng-template #contentviewDoc id="contentviewDoc" let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header" id="idHeader">
        <div class="content-header text-left">
            <h4 class="mb-0">{{actualDoc.title}}</h4> <small>{{actualDoc.date | date}}</small>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="closeModal();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body content-wrapper p-2" id="idBody">
        <div class="p-1">
            <div>
                <span class="animate-bottom" *ngIf="showButtonScroll" id="buttomScroll">
                    <button type="button" class="btn btn-dark round mb-0" (click)="goToTop()">Go top</button>
                </span>
                <div class="">
                    <div *ngIf="resultText.length >=5" style="text-align: justify;" class="textExtractedNcr"
                        [innerHTML]="resultText | safe: 'html'"></div>
                    <div *ngIf="resultText.length < 5">
                        {{'home.placeholderError' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
