<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light header-navbar navbar-sticky" style="margin-left: 0px;width: 100% !important;background-color: #fff;box-shadow: 0 6px 0 0 rgba(0,0,0,.01),0 15px 32px 0 rgba(0,0,0,.06);min-height: 4.3rem;">
    <div class="container-fluid">
      <div>
          <span class="navbar-header-logos d-none d-sm-inline">
            <img *ngIf="isHomePage" class="logo-img-big" width="56px" height="56px" src='assets/img/logo-lg-white.png' alt="logo nav29 lite" />
            <img *ngIf="!isHomePage" class="logo-img-big" width="56px" height="56px" src='assets/img/logo-lg-white.png' alt="logo nav29 lite" routerLink="/." style="cursor: pointer;"/>
          </span>
          <span class="navbar-header-logos d-inline d-sm-none">
            <img *ngIf="isHomePage" class="logo-img" src='assets/img/logo-lg-white.png' />
            <img *ngIf="!isHomePage" class="logo-img" src='assets/img/logo-lg-white.png' routerLink="/." style="cursor: pointer;"/>
          </span>
      </div>
        <div class="navbar-container pl-0">
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav m-r-0">
                  <li class="nav-item mr-2 d-inline" ngbDropdown display="dynamic" placement="bottom-right">
                    <a class="position-relative colorlink" id="dropdownLang" ngbDropdownToggle role="button">
                        <u>{{currentLang}}</u>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang">
                        <a *ngFor="let lang of langs" class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage(lang.code);">
                            <span>{{lang.name}}</span>
                        </a>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar (Header) Ends -->
